{{#if isQ1showing}}
    <p>Have you gone through all the steps on the Learn
      How to Program debugging lesson?</p>
    <button {{action 'questionShow'}}>Yes</button>
  {{else if isQ2showing}}
    <p>have you asked another pair.....</p>
    <button {{action 'question2Show'}}>Yes...</button>
  {{else if isQ3showing}}
    <p>have you spent 15min.....</p>
    <button {{action 'question3Show'}}>Yes...</button>
  {{else if isFormShowing}}
    <div>
      <form>
        <div class="form-group">
          <label for="name">Names</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="location">Location</label>
          {{input value=location id="location"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{input value=description id="description"}}
        </div>

        <button class="btn btn-default" {{action 'saveTicket'}}>Help!</button>

      </form>
    </div>
{{/if}}
