<li>{{ticket.name}} , {{ticket.location}}
  {{#if isDescriptionShowing}}
    <p {{action 'descriptionHide'}}>{{ticket.description}}</p>
    {{else}}
    <button {{action 'descriptionShow'}}>Show Description</button>
  {{/if}}
  <button {{action 'delete' ticket}}>Delete</button>

</li>
